.main.container {
  padding-top: 15px;
  padding-bottom: 20px;
}

.user-content img {
  /* 	max-width: 100%;
      height: auto; */
}

.module {
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
}

.dk ul, .dk ul li,
.search-dk ul, .search-dk ul li {
  padding: 0;
  margin: 0;
}
.dk.full-width,
.search-dk.full-width {
  width: 100%;
}